[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "glxw"]
	path = glxw
	url = https://github.com/rikusalminen/glxw
[submodule "ut"]
	path = ut
	url = https://github.com/nshcat/ut
[submodule "mingw-bundledlls"]
	path = mingw-bundledlls
	url = https://github.com/mpreisler/mingw-bundledlls.git
[submodule "nuklear_cmake"]
	path = nuklear_cmake
	url = https://github.com/nshcat/nuklear_cmake
[submodule "minitrace"]
	path = minitrace
	url = https://github.com/nshcat/minitrace
[submodule "microprofile"]
	path = microprofile
	url = git@github.com:nshcat/microprofile.git
[submodule "cl"]
	path = cl
	url = https://github.com/nshcat/cl
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "log"]
	path = log
	url = https://github.com/nshcat/log.git
